/***
    The new CSS reset - version 1.5.1 (last updated 1.3.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

:where(:not(iframe,canvas,img,svg,video):not(svg *,symbol *)){all:unset;display:revert}*,::after,::before{box-sizing:border-box}a,button{cursor:revert}menu,ol,ul{list-style:none}img{max-width:100%}table{border-collapse:collapse}textarea{white-space:revert}meter{-webkit-appearance:revert;appearance:revert}::placeholder{color:unset}:where([hidden]){display:none}:where([contenteditable]){-moz-user-modify:read-write;-webkit-user-modify:read-write;overflow-wrap:break-word;-webkit-line-break:after-white-space}:where([draggable=true]){-webkit-user-drag:element}


/* ===== VARIABLES =================================== */

:root {
    --gold-solid: #fb0; 
    --gold-80: #ffbb0080; 
    --gold-50: #ffbb0050;
    --white: #fff;
    --white-80: #ffffff80;
    --glen-mist: #3c3c3c;   
    --glen-mist-80: #3c3c3c80;
    --glen-mist-50: #3c3c3c50;
    --accent-torquise: #5abbc3;
    --accent-torquise-80: #5abbc380;
    --accent-torquise-50: #5abbc350;
/* wireframe colors */
    --lightest-gray: #f7f7f7;
    --light-gray-40: #cccccc40;
    --light-gray-80: #cccccc80;
    --light-gray: #cccccc;
    --mid-gray: #a3a3a3;    
    --dark-gray: #6a6a6a;
    --wireframe-placeholder: var(--light-gray-80);
/* placeholder photo */
    --tiger-placeholder-xl: url(https://www.towson.edu/homepage/2022-homepage/fall-tiger-admissions-deadlines-jumbo.jpg);
    --tiger-placeholder-xl: #5abbc350;
} 

/* ===== WIREFRAME PROPS =================================== */

img {
    filter: grayscale(1) contrast(.55) brightness(1.25);
}

/* Grid Line Overlays */

/*
.overlay-grid {
    pointer-events: none;
}

.overlay-700 {
    width: 700px;
    height: 100vh;
    position: fixed;
    margin: 0 auto;
    border: 1px solid #00bcd4;
    border-top: none;
    border-bottom: none;
    left: 50%;
    transform: translate(-50%, 0);
}

.overlay-900 {
    width: 900px;
    height: 100vh;
    position: fixed;
    margin: 0 auto;
    border: 1px solid #00bcd4;
    border-top: none;
    border-bottom: none;
    left: 50%;
    transform: translate(-50%, 0);
}
*/
/* ===== BASE STYLES =================================== */

body {
    font-family: 'Proxima-Nova', sans-serif;
    font-weight: 300;
    overflow-x: hidden; /* hack to prevent nav menu from generating a scroll */
}

img {
    vertical-align: top;
}

/* ===== TYPOGRAPHY =================================== */


/* Base Typography */

a {
    text-decoration: underline 2px var(--light-gray-80);
    text-underline-position: under;    
}

h2, h3 {
    font-weight: 400;
}

h3 {
    font-size: 1.625rem;
    font-weight: 500;
    margin: 20px 0;
    text-align: center; 
}

h5, h6 {
    font-size: .4rem;
}

strong {
    font-weight: 600;
}

.body-section p.tag { /* I don't love declaring the body section class here, but I'm trying to overcome specificty issues with other partial style sheets */
    font-size: .875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0;
    color: var(--mid-gray);
}

.body-section p.tag.ribbon, .body-section .flexible-visual-list.ribbons p.tag {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 3px 8px;
    font-size: .75rem;
    font-weight: 500;
    background-color: var(--dark-gray);
}

/* Type Effects */

.drop-cap {
    font-size: 3.5em;
    line-height: 3.5rem;
    font-weight: 700;
    float: left;
    margin-right: 5px;
    top: 3px;
    position: relative;
    color: var(--lightest-gray);
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 1px var(--glen-mist);    
}

.intro-text {
    font-size: .925em;
    font-weight: 600;
    letter-spacing: .05rem;
    text-transform: uppercase;
    color: var(--dark-gray);
}

.body-container p a {
    background-image: linear-gradient(var(--light-gray-80) 0 0);
    background-size: 200% 0px;
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
}

.body-container p a:hover {
    transition: background-size .3s, background-position;
    background-size: 200% 100%;
    background-position: 100% 100%;
}

.fancy:before {
    content: '';
    position: relative;
    display: block;
    height: 10px;
    width: 80px;
    border: 1px solid #000;
    background: var(--light-gray-80);
    margin: 15px auto;
    transform: skewX(30deg);
}

/*  Pull Quotes  */

blockquote.pull-quote {
    border-top: 2px solid var(--mid-gray);
    border-bottom: 2px solid var(--mid-gray);
    margin: 0 15px;
    padding: 5px 15px;
    color: var(--mid-gray);
}

blockquote.pull-quote p {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 2rem; 
}

blockquote.pull-quote.left {
    margin: 10px 40px 10px -100px;
    max-width: 50%;
    float: left;
}

blockquote.pull-quote.right {
    margin: 10px -100px 10px 30px;
    max-width: 50%;
    float: right;
}

/* Pull Quote with Attribution */

blockquote.pull-quote.quote p.attrib {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem; 
    margin-left: 20%;
    position: relative;
}

blockquote.pull-quote.quote p.attrib:before {
    content: '';
    height: 10px;
    width: 10px;
    top: 4px;
    left: -18px;
    position: absolute;
    background-color: var(--mid-gray)
}

/* ===== HEADER =================================== */


.card, .cards > * {                                  /* use .card for single element; use .cards to style all children */
    padding: 20px;
    background: var(--lightest-gray);
    box-shadow: 5px 5px 7px var(--light-gray);
}

.cards.grid > * {                                    /* kills additional padding for grid layout */
    padding: 0px;
}

.shadow {
    box-shadow: 5px 5px 12px var(--light-gray);
}

/* Zigzag Effect */

.zig-zag-top-bottom {
  --mask: 
    conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/16.00px 51% repeat-x,
    conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/16.00px 51% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.zig-zag-top {
  --mask: conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) 50%/16.00px 100%;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.zig-zag-left {
  --mask: conic-gradient(from 45deg at left,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% 16.00px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.zig-zag-right {
  --mask: conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% 16.00px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.zig-zag-bottom {
  --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/16.00px 100%;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

/* Color Blocks */
/* Use with masonry grid, full-bleed background containers, callouts, or visual list cards */

.color-block.gold {
    background-color: var(--gold-solid);
}

.color-block.dark {
    background-color: var(--glen-mist);
    color: var(--gold-solid);
}

/* ===== HEADER =================================== */

.global-header {
    width: 100%;
    height: 80px;
    background-color: var(--light-gray-40);
}

/* ===== IMAGES ================================= */

/* this needs more work. SVG should should be drop-in replacement for images wherever possible, but they are not working consistently */

svg {
    align-self: center;
    justify-self: center;
    padding: 0 20px 20px;
    max-width: clamp(100px, 75%, 175px);
}

/* === INPUTS ================================= */

a.content-button {
    border: 1px solid;
    background-color: var(--lightest-gray);
    padding: 10px;
    margin: 0 10px 20px 0;
    display: inline-block;
    text-decoration: none;
}

a.content-button.secondary {
    background: none;
}

a.content-button:hover {
    background-color: var(--light-gray-80);
}

a.content-button.secondary:hover {
    background-color: var(--lightest-gray);
}

/* === BODY CONTENT CONTAINERS ======== */

.body-container {
    margin: 40px 20px;
}

.body-section {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

.body-container h2, .body-container h3 {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
    padding: 0 10px;
    font-weight: 300;
}

.body-container h3 {
    font-size: 1.625rem;
}

.body-container p, .body-container ul {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-container ul {
    margin: 20px 0 20px 40px;
}

.body-container ul li {
    margin-bottom: 20px;
    list-style: disc;
}

.body-container ul > ul li {
    margin-bottom: 20px;
    list-style: circle;
}

/* Full-Width Container  */

.full-width {
    width: calc(100% + 200px);
    margin-left: -100px;
}

/* Full Bleed Container  */

.full-bleed-section {
    background: var(--wireframe-placeholder);
    width: 100vw;
    margin-left: calc(50% - 50vw);
    overflow: hidden;
}

.full-bleed-section figure {
    width: 100%;
    height: 100%;
}

.full-bleed-section figure img {
    width: 100%;
    height: 100%;
    max-height: 650px;
    object-fit: cover;
}

.full-bleed-section > .content-constrain {  /* Allows margin-contrained content in the full-bleed region. This allows a margin-constrained sub-container within full bleed. The primary use case is to set off margin-constrained content in a full-bleed color block. */
    width: calc(100% - 20px);               /* Also, margins are still a bit buggy on screen resize */
    margin: 0 auto;
    max-width: 720px;
    padding: 0 10px;
}

.body-container p.caption, .body-container figcaption.caption {
    font-family: 'Kandal';
    font-style: italic;
    font-weight: 300;
    font-size: .925rem;
    color: #3c3c3c;
    margin-top: 0;
    line-height: 1.25rem;
}

@media only screen and (max-width: 500px) {
    p.caption, figcaption.caption {
        font-size: .75rem;
        line-height: 1rem;
    }
}

/* Masonry Grid */
/* Can be used for images (default) or text with color blocks */

.content-grid {
    display: grid;
    grid-gap: 15px;
    margin-top: 15px;    
    margin-bottom: 15px;    
}

.content-grid figure {
    background-color: var(--light-gray-40);
    height: 100%;
}

.content-grid figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content-grid.forty-sixty {
     grid-template-columns: 2fr 3fr;
     aspect-ratio: 5/2;
}

.content-grid.sixty-forty {
    grid-template-columns: 3fr 2fr;
    aspect-ratio: 5/2;
}

.content-grid .text {
    padding: 20px;
    text-align: left;
    height: 100%;
}

.content-grid .text > * {
    text-align: left;
}

/* CSS config to change from single column to 2-column -- requires a "main-content" and "secondary-content" wrapper */

.body-container.two-col {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 60px;
    max-width: 1200px;
    margin: auto;
}

 .body-container.two-col .full-width {
    width: 100%;
    margin-left: unset;
}

.body-container.two-col .full-bleed-section {
    width: 100%;
    margin: 0;
}

.body-container.two-col blockquote.pull-quote.left {
    margin: 10px 30px 10px 0px;
}

.body-container.two-col blockquote.pull-quote.right {
    margin: 10px 0px 10px 30px;
}

 .body-container.two-col .in-content-image.left {
    margin: 20px 30px 20px 0;
    max-width: 55%;
}

.body-container.two-col .in-content-image.right {
    margin: 20px 0 20px 20px;
    max-width: 55%;   
}

.sidebar {
    background: var(--light-gray-40);
    min-height: 400px;
    margin: 40px 0;
}

.secondary-content:not(.body-container.two-col .secondary-content) {
    display:none;
}

.sidebar.separator {
    border-left: 2px solid #ccc;
}

.body-container.two-col .sidebar {
    display: block;
}

@media only screen and (max-width: 1200px) {
    .body-container.two-col {
     margin: 0 15px;
    }
}  

@media only screen and (max-width: 720px) {
    .body-container.two-col {
     grid-template-columns: 1fr;
    }
}  

/* In-content Image */

.in-content-image {
    max-width: 300px;
    background-color: var(--wireframe-placeholder);
    aspect-ratio: 1; 
}
.in-content-image img {
    vertical-align: top;
    object-fit: cover;
    aspect-ratio: 1;
    max-width: 100%;
}

.in-content-image.left {
    float:left;
    margin: 20px 30px 20px -100px;
}

.in-content-image.right {
    float:right;
    margin: 20px -100px 20px 20px;
}

.in-content-image.rectangle {
    border-radius: unset;
    aspect-ratio: 1.6;    
}

.in-content-image.rectangle img {
    aspect-ratio: 1.6;
}

/* === UTILITIES  =================================== */

.in-content-image.reduce-200 {
    max-width: 200px;
}

.gutter-xwide {
    margin-left: 30px;
    margin-right: 30px;
}

img.round, figure.round, .round img, .rounds img {        /* use .round for a single image; use .rounds to style children (e.g., all items in visual list) */
    border-radius: 50%
}

.shim-padding-20 {
    padding: 20px;
}

.shim-padding-40 {
    padding: 40px;
}


/* ===== MEDIA QUERIES  =================================== */

@media only screen and (max-width: 960px) {
    .full-width {
        width: 100%;
        margin-left: unset;
    }

    blockquote.pull-quote.left {
        margin: 10px 30px 10px 0px;
    }

    blockquote.pull-quote.right {
        margin: 10px 0px 10px 30px;
    }

    .in-content-image.left {
        margin: 20px 30px 20px 0;
        max-width: 50%;
    }

    .in-content-image.right {
        margin: 20px 0 20px 20px;
        max-width: 50%;   
    }
}

@media only screen and (max-width: 500px) {
    .full-width {
        margin-bottom: 10px;
        gap: 10px;
    }
    .in-content-image.left {
        margin: 10px 20px 10px 0;
    }

    .in-content-image.right {
        margin: 10px 0 10px 10px;  
    }

  .full-width.forty-sixty.stack, .full-width.sixty-forty.stack { /* Stacks masonry on small screens */
     grid-template-columns: 1fr;
     aspect-ratio: 1/1;
    }

 /* responsive typography */ 
    .body-container p, .body-container ul {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .body-container h2 {
        font-size: 1.625rem;
        line-height: 2.125rem;
    }

    blockquote.pull-quote {
        padding: 0px 5px;
    }    
    blockquote.pull-quote p {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

/* demo classes only */

.no-button .content-button {
    display:none;
}

.hero.simple h1 {           /* For demo purposes only*/
    font-weight: 700;
}

.hero.simple h1 br {          /* For demo purposes only*/
    display: none;
}
