/***
    This style sheet overrides wireframe grays with branding.
***/



/* ===== VARIABLES =================================== */

:root {

/* wireframe colors */
    --lightest-gray: #f7f7f7;
    --light-gray-80:  #ffbb0080;
    --light-gray-40: #ffbb0050;
    --mid-gray: #a3a3a3;    
    --dark-gray: #3c3c3c;;
}

