
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* BASE STYLES */

/* Flexible List */

.flexible-visual-list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    text-align: left;
}

.flexible-visual-list h2 {
    text-align: left;
    font-size: 1.375rem;
    padding: 0;
    margin-top: 0;
}

.flexible-visual-list p {
    text-align: left;
    font-size: 1rem;
}

.flexible-visual-list .list-item {
    display: grid;
    align-content: start;    
    grid-template-columns: 2fr 3fr;
    position: relative;
}

.flexible-visual-list.double {
    grid-template-columns: 1fr 1fr;
}

.flexible-visual-list-image {
    aspect-ratio: 1;
/*  background: url("../images/sq-crop.png");
    background-size: cover; */
}

.flexible-visual-list .flexible-visual-list-body {
    padding: 0 20px;
}


/* ------ Grid Variant ------ */

.flexible-visual-list.grid {
    grid-template-columns: 1fr;
}

.flexible-visual-list.grid .list-item {
    grid-template-columns: 1fr;
}

.flexible-visual-list.grid.two-col {
    grid-template-columns: 1fr 1fr;
}

.flexible-visual-list.grid.three-col {
    grid-template-columns: 1fr 1fr 1fr;
}

.flexible-visual-list.grid.four-col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.flexible-visual-list.grid .flexible-visual-list-body {
    padding: 20px 0;
}

.flexible-visual-list.grid.cards .flexible-visual-list-body {
    padding: 20px;
}

/* ------ Profile Variant ------ */

/* TO DO: Alternate version with gray images that turn color on hover */
/* TO DO: Image darkening on hover is currently applied to the img element. Explore other options that are more global scope. */


.profiles.flexible-visual-list {
    grid-gap: 5px;
    margin: auto;
}

.profiles.flexible-visual-list.grid .list-item {
    position: relative;
    overflow: hidden;
    max-height: 400px; /* allows grid to stretch in ultra-wide viewports without increasing vertical space */
}

.profiles.flexible-visual-list.grid .list-item:hover img {
    filter: brightness(40%) grayscale(1);
}

.profiles.flexible-visual-list.grid .list-item .flexible-visual-list-image {
    position: relative;
}

.profiles.flexible-visual-list.grid .list-item .flexible-visual-list-body {
    position: absolute;
    bottom: 0;
    opacity: 0;
    padding: 10px 20px;
    line-height: 1.375rem;
}

.profiles.flexible-visual-list.grid .list-item:hover .flexible-visual-list-body {
    opacity: 1;
}

.profiles.flexible-visual-list.grid .list-item:hover .flexible-visual-list-body h2 {
    color: var(--white);
    font-weight: 700;
}

.profiles.flexible-visual-list.grid .list-item:hover .flexible-visual-list-body p {
    color: var(--white);
}

@media only screen and (max-width: 1080px) {
    .profiles.flexible-visual-list.grid.four-col {
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
}

@media only screen and (max-width: 500px) {
    .profiles.flexible-visual-list.grid.four-col {
        grid-template-columns: 1fr;
    }
}

/* ----- MQs ----- */

@media only screen and (max-width: 720px) {
    .flexible-visual-list.grid.three-col, .flexible-visual-list.grid.four-col {
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    }
}

/* @media only screen and (max-width: 480px) {
        .flexible-visual-list.grid.two-col, .flexible-visual-list.grid.three-col, .flexible-visual-list.grid.four-col {
        grid-template-columns: 1fr;
    }
} /*

/* ------ No-image Variant ------ */

.flexible-visual-list.no-image .list-item {  
    grid-template-columns: 1fr; 
}

.flexible-visual-list.no-image .flexible-visual-list-image {  
    display: none;
}

.flexible-visual-list.no-image .flexible-visual-list-body {
    padding: 0px;
}

/* ----- Container Query Test ----- */


.profiles.flexible-visual-list.grid .list-item {
    container-type: inline-size;
    container-name: profile-content;    
}

@container profile-content (max-width: 300px) {
    .flexible-visual-list-body p {
        font-size: .9rem;
        line-height: 1.25rem;
    }
}