/* Basic Callout with Image */

.callout {
    display: grid;
    background: var(--light-gray-80);
    grid-template-columns: 1fr 2fr;    
    margin: 10px 0 30px;    
}

.callout.left {
    grid-template-columns: 1fr 2fr;
 }

.callout.right {
    grid-template-columns: 2fr 1fr;
 }

 .callout.text-only {
    grid-template-columns: 1fr;
 }

 .callout.text-only figure,  .callout.text-only img {
    grid-template-columns: 1fr;
    display: none;
 }

.callout-content {
    padding: 40px 60px;
}

.callout-content h2 {
    text-align: revert;
    font-family: 'Kandal';
    font-size: 2.5rem;
    padding: unset;
}

.callout img {
    aspect-ratio: 1;
    object-fit: cover;
    height: 100%;
}

/* Basic Callout with Icon */

span.icon-img {
	font-size: 8rem;
	display: flex;
	align-self: center;
	justify-self: center;
	padding: 30px;
}

@media only screen and (max-width: 960px) {
	.callout {
	    margin: 10px 0 30px;    
	    }
	.callout-content {
	    padding: 20px 30px;
	}
	.callout-content h2 {
	    font-size: 2rem;
		}
.callout img {
    aspect-ratio: 1.25;
	}
}	

@media only screen and (max-width: 720px) {
	.callout, .callout.left, .callout.right {
    grid-template-columns: 1fr 1fr;
	}
}	

@media only screen and (max-width: 500px) {
	.callout, .callout.left, .callout.right {
	    grid-template-columns: 1fr;
	    margin: 10px -20px 30px;    
	    }
.callout img {
	aspect-ratio: 1.25;
	height: unset;
	}
}
