/* ===== HEADER =================================== */

/* Region Container */

.global-header {
    width: 100%;
    height: 120px;
    background-color: var(--light-gray-40);
}

/* Utility Nav */

.utility-nav {
    height: 40px;
    padding-top:10px;
    text-transform: uppercase;
    letter-spacing: .025rem;
    display: flex;
    font-size: .925rem;
    justify-content: space-between;
}

.utility-nav p, .utility-nav ul, .utility-nav ul li {
    display: inline;
}

.utility-nav .publications-label {
    color: var(--dark-gray);
}

.utility-nav .tu-home-link {
    font-weight: 700;
    text-transform: capitalize;
    padding-right: 20px;
}

 .utility-nav ul li {
    padding: 0 20px;
    border-right: 1px solid var(--gold-solid);
}

 .utility-nav ul li:last-of-type {
    border: none;
    padding-right: 0;
}

/* Masthead */

.heading-constrain {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.masthead-logo-container svg {
    padding: 30px 20px 20px;
    display: flex;
    max-width: 100%;
}

.masthead-container {
}

.masthead-logo-container {
    width: 160px;
    background-color: #000;
    height: 120px;
    background: linear-gradient(213.4deg,transparent 25px,#000 25px);
    z-index: 100;
    position: relative;
}

.vertical-id p {
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    padding: 0 10px;
    display: inline-block;
    text-align: center;
}

p.vertical-name {
    border-top: 5px solid var(--gold-solid);
    width: 160px;
}

.heading-constrain.nav-flex-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.nav-items li {
    position: relative;
    top:15px;
}

ul.nav-items li {
    display: inline;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 10px 20px;
}

ul.nav-items li:hover {
    background: #fff;
    border-bottom: 5px solid var(--gold-solid);
}

.vertical-issue {
    display: inline-block;
    background: var(--gold-solid);
    top: -5px;
    position: relative;
    left: -5px;
}

.vertical-issue p {
    display: inline-block;
    font-size: 1rem;
    letter-spacing: .025rem;
    padding: 6px 10px;
    top: 2px;
    position: relative;
    font-weight: 600;
}

/* Stripe Background: https://stripesgenerator.com */

.stripe.glen-mist {
    background-image: linear-gradient(34deg, #eeeeee 10%, var(--glen-mist) 10%, var(--glen-mist) 50%, #eeeeee 50%, #eeeeee 60%, var(--glen-mist) 60%, var(--glen-mist) 100%);
    background-size: 8.94px 6.03px;
    }

.stripe.graphite {
    background-image: linear-gradient(34deg, #222222 10%, var(--graphite) 10%, var(--graphite) 50%, #222222 50%, #222222 60%, var(--graphite) 60%, var(--graphite) 100%);
    background-size: 8.94px 6.03px;
    }

.stripe.white {
    background-image: linear-gradient(35deg, #ededed 10%, #fbfbfb 10%, #fbfbfb 50%, #ededed 50%, #ededed 60%, #fbfbfb 60%, #fbfbfb 100%);
    background-size: 8.72px 6.10px;
}

 .stripe.graphite ul.nav-items li {
    color: #eee;
}

 .stripe.graphite ul.nav-items li:hover{
    color: #000;
}


/* Header Alt */

.alt .masthead-logo-container {
    background: unset;
}

.alt .vertical-id {
    display: flex;
    position:relative;
}

.alt p.vertical-name {
    border: none;
    font-size: 2.5rem;
    align-self: center;
    color: #fff;
    margin-top: 20px;
    text-align: unset;
    width: unset;
}

.alt .vertical-issue {
    height: min-content;
    align-self: flex-end;
    top: 15px;
    left: -134px;
}

.alt .masthead-container {
    display: flex;
    flex-direction: row;
}

.alt .vertical-id:before { 
  content: '';
  height: 75%;
  width: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
}

.alt ul.nav-items li {
    color: #eee;
    top: 33px;
}

.alt ul.nav-items li:hover {
    color: #000;
}

.alt .stripe {
background-image: linear-gradient(34deg, #222222 10%, var(--graphite) 10%, var(--graphite) 50%, #222222 50%, #222222 60%, var(--graphite) 60%, var(--graphite) 100%);
background-size: 8.94px 6.03px;
    }
